@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Outfit:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
}
body{
    font-family: 'Karla', sans-serif;
    background-color: var(--Light-Gray);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
   
    width: 600px;
    height: 400px;
}
.box-top{
  
    width: 600px;
    height: 200px;
    background-color:white;
    padding-left: 2rem;
    padding-top: 2rem;

}
.box-bottom{
    
    height: 200px;
    display: flex;
   
    
}
.box-bottom-left{

    width: 50%;
    height: 200px;
    background-color: var(--Cyan);
    padding: 2rem;
  
}
.box-b-text{
    
}
.box-b-join{
    border-radius: 0.2rem;
    width: 175px;
    height: 35px;
    margin-top: 1rem; 
    background-color: var(--Bright-Yellow); 
    color: var(--Light-Gray); 
    text-align: center;
    padding-top: 8px;
    font-size: small;
    
}

.box-bottom-right{
    border: 1px;
    width: 50%;
    height: 200px;
    background-color:rgb(108, 175, 175);
    padding-left: 2rem;
    padding-top: 2rem;
}
.descript{
    font-size: 16px ;
    font-weight: bold;
    color:var(--Cyan);
}
.descript-h{
    color: var(--Bright-Yellow);
    font-size: small;
    font-weight: bold;
}
.descript-s{
    color: grey;
    font-size: small;
}
.descript-l{
    color: grey;
    font-size: small;
    padding-top: 5px;
}
.descript-smal{
    color: var(--Light-Gray);
    font-size: x-small;
}
h4{
    color:var(--Light-Gray);
    font-size: small;
}
.monthly {
    color:var(--Light-Gray);
}
.per-month{
    color:var(--Light-Gray);
}
.per-dollar{
    color:var(--Light-Gray);
    margin-bottom: 0.3rem;

}
.per-full{
    color:var(--Light-Gray);
    font-size: 0.8rem;
   
}
.per-dollar span{
    font-weight: normal;
    font-size: 0.5rem;
    color: var(--Light-Gray);

}